.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-wrapper {
  display: inline-block;
  border: 1px solid black;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridItem {
  width: 10px;
  height: 10px;
}

.is-food {
  background-color: red;
}

.is-head {
  background-color: black;
}

.is-tail {
  background-color: grey;
}

.grid-message {
  width: 100%;
  text-align: center;
}
